html {
    font-size: 18px;
    -webkit-tap-highlight-color: rgba(16, 26, 37, 0);
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  	height: 100%;
}

html,
body {
	background-color: #445261;
}

body {
    margin: 0;
    font-size: 1rem;
    color: #cad2da;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: 'kern' 1, 'liga' 1, 'calt' 1, 'pnum' 1, 'tnum' 0, 'onum' 0, 'lnum' 0, 'dlig' 1;
	min-height: 100%;
}

*, *:after, *:before {
	box-sizing: border-box;
}

body,
.font--europa,
h1, h2, h3, h4, h5, h6,
.app__footer,
.app__footer a,
.btn,
label,
.navbar-nav > li > a,
.lead,
.table thead > tr > th,
.data thead > tr > th,
dt,
.nav-tabs,
legend {
  font-family: europa, "Avenir Next", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

p,
ul,
ol {
	margin-bottom: 1rem;
}

ol, ul {
	margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 2rem
}

ol li, ul li {
	padding-left: .5rem;
}

.lead {
  font-size: 1.4rem;
  line-height: 1.4;
  margin-bottom: 1.4rem;
}

.app__main > .section {
  transition: opacity .2s ease-out;
}

.wf-loading .app__main > .section {
  opacity: 0;
}

.wf-active .app__main > .section,
.wf-inactive .app__main > .section {
  opacity: 1;
}

a,
.StatsMenu-link, .StatsMenu-Link {
  color: #39BA91;
  text-decoration: none;
}

a:hover,
a:focus,
.StatsMenu-link:hover, .StatsMenu-Link:hover {
  color: #39BA91;
  text-decoration: underline;
}

.container {
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 860px;
}

.container-fluid .row {
  max-width: calc(100% + 15px);
}

.section {
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.header + .section {
	padding-top: 0;
}

.hero {
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  text-align: center;
  position: relative;
  z-index: 2;
  margin-top: -3rem;
}

.wf-active .hero h1,
.wf-active .hero h2,
.wf-active .hero .btn,
.wf-inactive .hero h1,
.wf-inactive .hero h2,
.wf-inactive .hero .btn {
  	-webkit-animation: slide-in-from-bottom .7s cubic-bezier(0, 1.02, .32, 1.34);
	animation: slide-in-from-bottom .7s cubic-bezier(0, 1.02, .32, 1.34);
  	-webkit-animation-fill-mode: backwards;
  	animation-fill-mode: backwards;
}

@keyframes slide-in-from-bottom {
    0% {
        opacity: 0;
        -webkit-transform: translateY(50px);
        transform: translateY(50px)
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

.wf-active .hero h2,
.wf-inactive .hero h2 {
	-webkit-animation-delay: .3s;
  	animation-delay: .3s;
}

.wf-active .hero .btn,
.wf-inactive .hero .btn {
	-webkit-animation-delay: .5s;
  	animation-delay: .5s;
}

.hero h1 {
  color: #fff;
  margin: 0;
}

.hero h2 {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.hero .btn {
  margin-top: 1rem;
}

.starbase {
	position: absolute;
  	bottom: -.8rem;
  	left: 0;
  	right: 0;
  	opacity: .6;
}

.starbase svg {
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* headings */
h1, h2, h3, h4, h5, h6, legend {
  font-family: inherit;
  line-height: 1.2;
  color: #bfe6ec;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 1rem;
  border: 0;
}

h1,
h2,
h3,
h4,
legend {
  margin-top: 2rem;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3,
legend { font-size: 1.75rem; }
h4 { font-size: 1.5rem; }

/* Code */

pre,
code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: .8rem;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  color: #cad2da;
  background-color: #2f3943;
}


pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre;
  overflow-wrap: normal;
  word-wrap: normal;
  word-break: normal;
  overflow: auto;
  background-color: transparent;
  border-radius: 0
}

article {
  padding-bottom: 1rem;
}

article.panel {
  padding-bottom: 0;
}

/* Layout: sticky footer */

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app__main {
  flex: 1 0 auto;
  position: relative;
}

.app__header,
.app__footer {
  flex: none;
}

/* Footer */

.app__footer {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-bottom: 0;
  background: #394552;
  text-align: center;
}

.app__footer a {
  display: inline-block;
  margin-left: 2rem;
}

.app__footer,
.app__footer a {
  color: #9dabba;
  font-size: .65rem;
  font-weight: 400
}

.app__footer .powered-by {
  text-indent: -119988px;
  overflow: hidden;
  background-image: url('/images/powered-by-3scale-light.png');
  background-repeat: no-repeat;
  background-position: bottom left;
  width: 109px;
  height: 19px;
  margin-top: -3px;
  opacity: .5;
}


/* Buttons */

.btn {
  border-radius: 100px;
  font-weight: 600;
  font-size: .95rem;
  padding: .3rem 1.5rem;
  border: none;
  transition: .2s ease-out;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  box-shadow: none;
  padding: .5rem 2rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .15rem;
  text-decoration: none;
}

.btn:hover,
.btn:focus {
    box-shadow: 0 1px 4px rgba(16, 26, 37, .4);
    transform: translateY(-1px) !important;
	outline: 0;
}

.btn:active {
	background-image: none;
    outline: 0;
    transform: translateY(0) !important;
    box-shadow: 0 1px 2px rgba(16, 26, 37, .3);
}

.btn,
.btn-default {
  background: #9dabba;
  color: #074354;
}

.btn-primary,
.btn-primary.disabled {
  background: #39ba91;
  color: #074354;
}

.btn-primary:hover,
.btn-primary:focus {
  background: #46c69e;
  color: #074354;
}

.btn-primary:active {
	color: #074354;
    background: #37b28b;
    -webkit-transition: none;
    transition: none
}

.btn.btn-lg {
  font-size: 1.2rem;
  padding: .5rem 2rem;
}

.btn.btn-sm {
  font-size: .8rem;
  padding: .25rem 1rem;
}

.btn.btn-xs {
  font-size: .7rem;
  padding: .1rem .8rem;
}

.button-icon {
  background-color: transparent;
  border: none;
  margin: 0px;
  padding: 0px;
}


/* Forms */

button, input, select, textarea {
	margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

form,
.form {
	padding: 2.5rem 2.5rem 1.5rem 2.5rem;
    background: #394552;
    border-radius: .15rem;
    margin-bottom: 1rem;
}

.required,
abbr.required {
  color: #b581cf;
  border: 0;
}

fieldset {
  
}

.form-group {
  margin-bottom: 1rem;
  position: relative;
}

.form-group:last-child {
	margin-bottom: 0 !important;
}

.form-group:last-of-type .btn {
	margin-top: 1rem;
}

.form-control {
  display: block;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: .5rem 0;
  font-family: inherit;
  font-weight: 400;
  font-size: 1rem;
  color: #cad2da;
  background: 0 0;
  border: none;
  border-bottom: 2px solid #9dabba;
  border-radius: 0;
  transition: all .2s ease-out;
  height: auto;
  box-shadow: none;
}

.form-control:focus {
  box-shadow: none;
  outline: 0;
  border-bottom-color: #cad2da;
}

.form-label {
	position: absolute;
    top: .5rem;
    left: 0;
    right: 0;
    -webkit-transition: .15s ease-out;
    transition: .15s ease-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: text;
    font-family: inherit;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: #9dabba;
    -webkit-transform-origin: left;
    transform-origin: left;
}

.form-control:focus ~ .form-label,
.form-control:not(.is-empty) ~ .form-label {
	-webkit-transform: translate3d(0, -1.5rem, 0) scale(.7);
    transform: translate3d(0, -1.5rem, 0) scale(.7);
    color: #cad2da;
}

.radio, .checkbox {
	padding: 0;
}

.form-group.radio, .form-group.checkbox {
	margin-top: 2rem;
  	margin-bottom: 2rem;
}

.checkbox label, .radio label {
	padding-left: 1.75rem;
    margin-bottom: 0;
    cursor: pointer;
	display: inline-block;
}

.checkbox input[type=checkbox], 
.checkbox-inline input[type=checkbox], 
.radio input[type=radio], 
.radio-inline input[type=radio] {
	position: absolute;
	top: -.1rem;
    margin-left: -1.75rem;
    margin-right: .25rem;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    background: 0 0;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: .15rem;
    border: 2px solid #9dabba;
    outline: 0
}

.checkbox input[type=checkbox]:checked, 
.checkbox-inline input[type=checkbox]:checked, 
.radio input[type=radio]:checked, 
.radio-inline input[type=radio]:checked {
	background: #39ba91;
	border-color: #cad2da
}

.help-block {
	color: #9dabba;
    font-size: .7rem;
    margin-top: .5rem;
    margin-bottom: 0;
}

.inline-errors {
  	font-size: .7rem;
	color: #c9726a;
}

.has-error .form-control {
	border-color: #c9726a;
}


/* Tables */

.table,
table{
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  word-break: normal;
}

.table thead > tr > th, 
.table tbody > tr > th, 
.table tfoot > tr > th, 
.table thead > tr > td, 
.table tbody > tr > td, 
.table tfoot > tr > td,
table thead > tr > th, 
table tbody > tr > th, 
table tfoot > tr > th, 
table thead > tr > td, 
table tbody > tr > td, 
table tfoot > tr > td {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #9dabba;
  border-bottom: 0;
}

.table thead > tr > th,
table thead > tr > th {
  color: #bfe6ec;
  font-weight: 400;
  vertical-align: bottom;
  border-top: 0;
  border-bottom: 2px solid #9dabba;
}


/* tabs */
.nav-tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: 0;
  border-bottom: 1px solid #39ba91;
  margin-bottom: 2rem;
}

.nav-tabs > li {
  flex: 1;
}

.nav-tabs > li > a, 
.nav-tabs > li > a:focus {
  box-shadow: none;
  display: block;
  padding: 1rem;
  border: 0;
  border-bottom: 4px solid transparent;
  text-align: center;
  color: inherit;
}

.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus {
  color: #fff;
  border: 0;
  border-bottom: 4px solid #39ba91;
  background: none;
}

.nav-tabs > li > a:hover, 
.nav-tabs > li > a:focus {
  border-bottom: 4px solid #39ba91;
  background: none;
}

.container.tabbed {
  position: relative;
  top: 5px;
  margin-top: -5px
}

/* navigation */
.navbar {
  border: none;
  margin-bottom: 0;
  border-radius: 0;
}

.navbar-collapse {
	width: 100%;
}

.navbar-nav {
  margin: 0;
  clear: none;
}

.navbar-nav:after {
  clear: none;
}

.navbar-nav,
.navbar-nav > li,
.navbar-nav > li > a {
  display: inline-block;
}

.navbar-nav > li > a {
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  font-size: .9rem;
  color: #cad2da;
  transition: .2s ease-out;
  background: none;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus,
.navbar-nav > .active > a, 
.navbar-nav > .active > a:hover, 
.navbar-nav > .active > a:focus {
  color: #fff;
  background: none;
}

.menu-overflow {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.menu-overflow::-webkit-scrollbar { display: none; }

@media (min-width: 768px) {
  .menu-overflow {
  	margin: 0;
    padding: 0;
    white-space: normal;
    overflow: visible;
    text-align: left;
    margin-left: 2rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .navbar-flex {
	display: flex;
  }
}

.navbar-brand {
  margin-left: auto;
  margin-right: auto;
  float: none;
  display: block;
  padding-bottom: 0;
  width: 300px;
}

@media (min-width: 768px) {
  .navbar-brand {
  	margin: 0;
    display: inline-block;
  }
}

.logo {
  width: 200px;
  max-width: 100%;
}

.app__nav #user_widget li:first-child {
	display: none;
}

.navbar.alert-info {
  background-color: rgba(89, 134, 188, .2) !important;
  border-bottom: none;
  background-image: none;
}

.navbar.alert-danger {
  background-color: rgba(198, 39, 40, .2) !important;
  border-bottom: none;
  background-image: none;
}

.app__messages {

}

.alert {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: .15rem;
  text-align: left;
  font-size: .85rem;
  font-weight: 400;
  border: 0;
}

.alert-danger {
	background-color: rgba(201, 114, 106, .4);
	color: #fff;
}

.alert-success {
    background-color: rgba(57, 186, 145, .4);
    color: #fff
}

.alert-info {
    background-color: rgba(191, 230, 236, .2);
    color: #fff
}

.alert-warning {
    background-color: rgba(142, 142, 36, .4);
    color: #fff
}

.app__messages .alert {
  margin-bottom: 0;
  border-radius: 0;
}


/* Wells */

.well {
  padding: 1rem;
  background: #394552;
  box-shadow: none;
  border: 1px solid #596b7f;
}

.well-sm {
  padding: .7rem;
}

.well > h1:first-child {
  margin-top: 0;
}

.well--terms {
  margin-top: 1rem;
  font-size: .85rem;
}

.well--terms h1 {
  font-size: 1.5rem;
}

.well--terms h2 {
  font-size: 1.3rem;
}

.well--terms h3 {
  font-size: 1.1rem;
}

#selected-plan {
  display: none;
}


/* badges */
.badge {
  background-color: #BBBBBB; /* fallback */
  background-color: rgba(255, 255, 255, 0.4);
}


/* messages */



/* definition lists */

dd {
  margin-bottom: 1rem;
}

dt {
  color: #9dabba;
}

@media (min-width: 768px) {
  .dl-horizontal dt {
    width: 22.5%;
  }

  .dl-horizontal dd {
    margin-left: 26%;
  }

  .wide.dl-horizontal dt {
    width: 30.5%;
  }

  .wide.dl-horizontal dd {
    margin-left: 34.5%;
  }
}

dl + dl {
  margin-top: 60px;
}

/* SSO */
ul.list-auth-provider {
  display: none;
}

.section--sell {
  background: #F6F6F6;
}

.auth {}

.auth__title,
.screen__title {
  margin-bottom: 1.5rem;
  margin-top: 0;
  font-size: 2.3rem;
}

.screen__title__edit {
  margin-top: 1rem;
}

.status {
  display: inline-block;
  width: .5rem;
  height: .5rem;
  margin-bottom: 1px;
}

.status.label-default {
  background-color: #aaa;
}

.status.label-warning {
  transform: rotate(45deg);
}

.status.label-success {
  border-radius: 50%;
  animation: pulseGreen 1.5s infinite;
  background: #39BA91;
}

@keyframes pulseGreen {
  0% {
  	box-shadow: 0 0 0 0 rgba(82, 175, 82, .8);
  }
  
  100% {
  	box-shadow: 0 0 0 5px rgba(82, 175, 82, 0);
  }
}

.label {
  font-size: .6rem;
  font-weight: normal;
}

.label-primary {
  background: #39BA91;
}

.button_to {
  display: inline;
  padding: 0;
  margin: 0;
  background: none;
}

.operations .button_to .btn {
	margin-top: 1rem;
}

.startaction {
  display: flex;
  flex-wrap: wrap;
  min-height: 82px;
  border: 1px solid #596b7f;
  border-radius: 4px;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
  transition: .2s ease-out;
}

.startaction__title {
  display: block;
  width: 100%;
  color: #39BA91;
  transition: .2s ease-out;
}

.startaction__icon {
  display: block;
  width: 3rem;
  height: 3rem;
  fill: none;
  stroke: #39BA91;
  stroke-width: .75;
  margin-bottom: .5rem;
  transition: .2s ease-out;
}

.startaction:hover,
.startaction:focus {
  border-color: #39BA91;
}



.close {
	color: #fff;
	text-shadow: none;
  opacity: .4;
  font-weight: 400;
font-size: 1.3rem
}

.close:hover {
	color: #fff;
  opacity: 1;
}

/* place holders */
::-webkit-input-placeholder {
  font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
  font-style: italic;
}

::-moz-placeholder {  /* Firefox 19+ */
  font-style: italic;
}

:-ms-input-placeholder {
  font-style: italic;
}
